.user-profile-container {
    display: flex;
    flex-direction: column;
    color: var(--gray3);
    width: 100%;

}

.profile-container {
        background-color: var(--clr1);
}
.user-profile-container form {
    display: flex;
    gap: 10px;
    align-items: center;
}

