:root {
  --clr1: #B0C4B1;
  --clr2: #424B54;

  --clr1bg: #93A8AC;
  --clr1bg-light: #E2B4BD;
  --clr2bg: #EDAFB8;
  --clr2bg-light: #DEDBD2;

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

} 